<%= form_for(@node) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <% if @source_id %>
    <input type="hidden" id="source_id" name="source_id" value="<%= @source_id %>" />
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category,
       [['Topic', :topic],
        ['Model', :model],
        ['Data', :data],
        ['Objective', :objective],
        ['Challenge', :challenge],
        ['Question', :question]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
