<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @source_id %>
    <input type="hidden" id="source_id" name="source_id" value="<%= @source_id %>" />
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category,
       [['Model', 'Model'],
        ['Data', 'Data'],
        ['Objective', 'Objective'],
        ['Challenge', 'Challenge'],
        ['Question', 'Question']]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
