<div class="node round" id="node_<%= node.id %>">

  <div class="title_bar" id="title_bar_<%= node.id %>">
    <span class="title">
      <% if node.title.blank? %>
        <% node_title = "[No Title]" %>
      <% else %>
        <% node_title = node.title %>
      <% end %>
      <%= link_to node_title, node_path(node) %>
    </span>
    <span class="rating">
      - <% rating_markup(node) %>
    </span>
  </div>

  <div class="metadata_bar" id="metadata_bar_<%= node.id %>">
    <span class="timestamp">
      Posted by
      <% if node.creator %>
        <%= node.creator.name %>
      <% else %>
        anonymous
      <% end %>
      <%= time_ago_in_words(node.created_at) %> ago (<%= node.created_at.strftime("%m/%d/%Y, %I:%M %p") %>), 
    </span>
    <span class="category">Category:
      <% if node.category %>
        <%= node.category %>
      <% else %>
        [No Category]
      <% end %>
    </span>
    <% if Rails.env.development? %>
      <span class="debug">
        (Debug:
        Node ID #<%= node.id %>;
        <%= node.source_edges.count %> sources;
        <%= node.sink_edges.count %> sinks;
        depth = <%= options[:depth] %>)
      </span>
    <% end %>
    <span class="actions">
      <% if permitted_to? :edit, node %>
        <%= link_to 'Edit', edit_node_path(node) %>
      <% end %>
      <% if permitted_to? :destroy, node %>
        <%= link_to 'Delete', node_path(node), :method => :delete %>
      <% end %>
      <% if permitted_to? :create, Edge.new %>
        <%= link_to 'Connect to...', new_edge_path(:source_id => node.id) %>
      <% end %>
    </span>
  </div>
  <div class="content" id="content_<%= node.id %>"><%= simple_format node.content %></div>

  <div class="reply" id="reply_to_<%= node.id %>">
    <% if permitted_to? :create, Node.new %>

    <% # TODO: Is there a cleaner way to code this? %>
    <div class="reply_form">
      <%= form_for(Node.new) do |f| %>
        <div class="field">
          <%= f.text_area :content %>
        </div>
        <%= f.hidden_field :title, :value => reply_title(node.title) %>
        <input type="hidden" id="source_id" name="source_id" value="<%= node.id %>" />
        <div class="action">
          <%= f.submit %>
        </div>
      <% end %>
    </div>

    <%= link_to 'Reply',
                new_node_path(:source_id => node.id, :title => reply_title(node.title)),
                :class => "reply_link" %>
    <% end %>
  </div>
</div>