<li class="node">
  <div class="header">
    <span class="title">
      <% if node.title %>
        <%= node.title %>
      <% else %>
        [No Title]
      <% end %>
    </span>
    <span class="category">Category: 
      <% if node.category %>
        <%= node.category %>
      <% else %>
        [No Category]
      <% end %>
    </span>
    <span class="timestamp">
      - posted by
      <% if node.creator %>
        <%= node.creator.name %>
      <% else %>
        anonymous
      <% end %>
      <%= time_ago_in_words(node.created_at) %> ago.
    </span>
  </div>
  <div class="content"><%= node.content %></div>

  <% if Rails.env.development? %>
    <div class="debug">
      (Debug:
      Node ID #<%= node.id %>;
      <%= node.source_edges.count %> sources;
      <%= node.sink_edges.count %> sinks.);
      recurse_count = <%= recurse_count %>
    </div>
  <% end %>

  <br/>
  <%= link_to 'Reply', new_node_path(:source_id => node.id), :class => "reply_button round" %>
  <%= link_to 'Move To', node_path(node), :class => "move_to_button round" %>
  <% if recurse_count > 3 %>
    <ul class="children">
      <li><%= link_to '...', node_path(node) %></li>
    </ul>
  <% elsif !node.sinks.empty? %>
    <ul class="children">
      <% node.sinks.each do |sink| %>
        <%= render sink, :recurse_count => recurse_count + 1 %>
      <% end %>
    </ul>
  <% end %>
</li>
