<li class="node">
  <div class="header">
    <span class="title">
      <% if node.title %>
        <%= node.title %>
      <% else %>
        [No Title]
      <% end %>
    </span>
    <span class="category">Category: 
      <% if node.category %>
        <%= node.category %>
      <% else %>
        [No Category]
      <% end %>
    </span>
    <span class="timestamp">
      - posted <%= time_ago_in_words(node.created_at) %> ago. 
      <% if Rails.env.development? %>
        (Debug: Node ID #<%= node.id %>; <%= node.source_edges.count %> sources; <%= node.sink_edges.count %> sinks.)
      <% end %>
    </span>
  </div>
  <span class="content"><%= node.content %></span>
  <br/>
  <%= link_to 'Reply', new_node_path(:source_id => node.id) %>
  <% unless node.sinks.empty? %>
    <ul class="children">
      <% node.sinks.each do |sink| %>
        <%= render sink %>
      <% end %>
    </ul>
  <% end %>
</li>