<div class="node">
  <div class="header">
    <span class="title">
      <% if node.title %>
        <%= node.title %>
      <% else %>
        [No Title]
      <% end %>
    </span>
    <span class="category">Category: 
      <% if node.category %>
        <%= node.category %>
      <% else %>
        [No Category]
      <% end %>
    </span>
    <span class="timestamp">
      - posted by
      <% if node.creator %>
        <%= node.creator.name %>
      <% else %>
        anonymous
      <% end %>
      <%= time_ago_in_words(node.created_at) %> ago.
    </span>
  </div>
  <div class="content"><%= simple_format node.content %></div>

  <% if Rails.env.development? %>
    <div class="debug">
      (Debug:
      Node ID #<%= node.id %>;
      <%= node.source_edges.count %> sources;
      <%= node.sink_edges.count %> sinks.);
      recurse_count = <%= recurse_count %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to 'Reply', new_node_path(:source_id => node.id), :class => "button round" %>
    <%= link_to 'View', node_path(node), :class => "button round" %>
    <% if current_user && (node.creator == current_user) %>
      <%= link_to 'Edit', edit_node_path(node), :class => "button round" %>
      <%= link_to 'Delete', node_path(node), :method => :delete, :class => "button round" %>
    <% end %>
  </div>

  <% if recurse_count > 3 %>
    <ul class="node-container">
      <li><%= link_to '(view node to see more)', node_path(node) %></li>
    </ul>
  <% elsif !node.sinks.empty? %>
    <ul class="node-container">
      <% node.sinks.each do |sink| %>
        <%= render sink, :recurse_count => recurse_count + 1 %>
      <% end %>
    </ul>
  <% end %>
</div>
