<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Creator</th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td>
      <% if permitted_to? :read, topic %>
        <%= link_to topic.title, topic %>
      <% else %>
        <%= topic.title %>
      <% end %>
    </td>
    <td><%= topic.description %></td>
    <td><%= topic.creator.name %></td>
    <% if permitted_to? :edit, topic %>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <% end %>
    <% if permitted_to? :delete, topic %>
      <td><%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, Topic.new %>
  <%= link_to 'New Topic', new_topic_path %>
<% end %>