<%= form_for(@edge) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :sink_id %><br />
    <%= f.text_field :sink_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category,
       [['Answer', :answer],
        ['Refutation', :refutation],
        ['Related', :related]]) %>
  </div>
  <div>
    <%= f.submit @submit_text %>
  </div>
<% end %>
